<body class="body">

<div class="container-animated-bg">

  <div class="animate-me">

      <h1 (click)="animate1()" class="h1-play-automation">
      <button>Play Animation 1</button> 
      </h1>

      <h1 (click)="animate2()" class="h1-play-automation">
        <button>Play Animation 2</button> 
      </h1>

      <h1 (click)="animate3()" class="h1-play-automation">
        <button>Play Animation 3</button> 
      </h1>

  </div>

</div>

<div class="parent">
  <h2>Parent Component</h2>

  <ul class="div-ul">
    <li *ngFor="let bev of beverages">{{bev}}</li>
  </ul>

  <app-beverages [beverage] = "currentBeverage" (newBeverageEvent)="addBeverage($event)"></app-beverages>
</div>
  
</body>

